{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" type="text/css" href="{% static '/scan/css/bootstrap.min.css' %}">

</head>
<body>

    <div class="container mt-5 mt-5">
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div> 
          {% endfor %} 
        {% endif %}

        {% if signature %}
        <p>

          <div class="alert alert-success">
            {{signature}}
            <input type="text" name="myInput" id="myInput" value="{{signature}}" style="display: none;" >
          </div> 

            <span id="gtco-footer" class="group2">        
                <button class="btn btn-primary card_Solution row m-0 mt-3 mb-4 submit-button" style="width: 100%" onclick="myFunction()"> <!-- background-color:#0096c2; -->
                    <div class="row">
                        <div class="col  " id="first_order">Copy Message<span>&nbsp &nbsp &nbsp</span></div>
                    </div>
                </button>  
            </span>       



        </p>
        {% endif %}

        <form method="POST" id="myForm">
            {% csrf_token %}
            <fieldset class="form-group">
            </fieldset>
                {{form}}   


            <div class="form-group" id="gtco-footer">
                <button class="btn btn-primary card_Solution row m-0 mt-3 mb-4 submit-button" type="submit" style="width: 100%" > <!-- background-color:#0096c2; -->
                    <div class="row">
                        <div class="col pb-2 pt-2  " id="first_order"> Submit<span>&nbsp &nbsp &nbsp</span></div>
                    </div>
                </button>  
            </div>
        </form>

    </div>

</body>

<script type="text/javascript">
    
    function myFunction() {
      /* Get the text field */
      var copyText = document.getElementById("myInput");

      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /* For mobile devices */

       /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.value);

    }

</script>


</html>